
header{
    display:flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
    
}
.logo img{
    height: 130px;
}
h1{
    font-size: 25px;
}
.nav-bar ul{
      display: flex;
      list-style-type: none;
}
.nav-bar ul li a {
    display: block;
    color: #385273;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin:0 5px;
    text-decoration: none;
    
}
.nav-bar ul li a:hover{
    color:#385273;
    background-color: #F2B694;
}
@media only screen and (max-width:1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width:900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger{
        width: 30px;
        height: 3px;
        margin: 6px;
    }
     .nav-bar{
        height: 450px;
        position: absolute;
        top: 80px;
        left:0;
        right: 0;
        width: 100vw;
        transition: 0.2s;
     }
     .nav-bar ul{
        display:block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
     }

}