@media only screen and (min-width:35rem) {
    img{
      height: 150px;
  }
  h1, .navigation, #header-date{
    font-size: 25px;
  }
  .navigation{
    margin-right: 25px;
  }
  .columns{
    display: grid;
    grid-template-columns: 65% auto;
  }
  .box1{
    grid-column: 1/3;
    font-size: 20px;
  }
  .box4{
    grid-row: 2/3;
    grid-column:1/3 ;
    font-size: 20px;
  }
  
  .togetherbox{
    margin: 15px;
    display: grid;
    grid-column: 1/3;
  }
  .box5{
    grid-column: 1/2;
    font-size: 20px;
  }
  .box6{
    grid-column: 2/3;
    font-size: 20px;
  }
  .box8{
    display: grid;
    grid-column: 1/3;
    grid-row: 4/5;
  height: 230px;
     border: 2px solid black;
     background-color: #385273;   
     margin: 15px;  
     text-align: center;
     font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 20px;
  }
  .box2{
    grid-row:5/6 ;
    font-size: 20px;
  }
  .box3{
    grid-row: 5/6;
    font-size: 20px;
  }
  .info{
    display:flex;
    justify-content: center;
      height: 200px;
      align-items: center;
  }
  h3{
    margin: 25px;
    font-size: 15px;
  }
  }
    @media (max-width:00px) {
    img{
      height: 200px;
  }
    }