h1{
    font-size: 25px;
    text-align: center;
    color: brown;
}
table{
border-collapse: collapse;
width: 50%;
margin: auto;
}
table td, table th{
    border: 1px solid peru; 
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
    color: tomato;
}
caption{
    padding: 10px;
    caption-side: bottom;
    font-size: .85rem;
    color: peru;
}
tr:nth-child(4) {
	background-color: #f2f2;
}