
.title{
    background-color: beige;
    color: brown;
}
.body{
    background-color:bisque;
    color: brown;
}
.body, td{
    border: 1px solid tomato;
}
th, td{
    padding: 7px 15px;
}
td{
    text-align: center;
}
table{
    margin: 10px auto;
    border: thin solid tomato;
    border-collapse: collapse;
}
caption{
    padding: 10px;
    caption-side: bottom;
    font-size: .85rem;
    color: peru;
}
tr:nth-child(3) {
	background-color:chocolate;
}