body{
    margin:0%
  }
  header{
      display:flex;
      justify-content: space-between;
      background-color: beige;
      align-items: center;
  }
  #hero{
    position: relative;
  }
  #hero h1{
    position: absolute;
    left: 90px;
    color:#8C442a;
    background-color: #F2B694;
    z-index: 1;
    font-family: 'Sarabun', sans-serif;
      font-weight: 600;
  }
  #hero img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  #hero .btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    background-color: #385273;
    color: #F2B694;
    font-size: 20px;
    font-family: 'Sarabun', sans-serif;
      font-weight: 700;
  }