header{
    background-color:violet;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 605px;
    font-family: 'Montserrat', sans-serif;
}
footer{
    padding: 16px;
    background-color: violet;
    text-align: center;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
}
 .image01 {
    width: 200px;
    height: auto;
    margin-right: 30px;   
}
